body {
    background-color: #060606;

    color: #E5E7EB;
    font-family: "Jetbrains Mono", monospace;
    font-size: 16px;
    line-height: 1.6;
    
    text-align: left;
    margin: 0;
    padding: 20px;
}
a {
    color: #DD4A4A;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:visited {
    color: #FF8E8E;
}
a:hover {
    color: #FF6B6B;
    text-decoration: underline;
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Keeps it in front of all scrolling content */
    
    background-color: rgba(12, 12, 12, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    border-bottom: 1px solid #242424;
}
.nav-container {
    width: 100%;
    max-width: 1080px;  
    margin: 0 auto;     
    padding: 12px 20px; 
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    position: absolute;
    left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
}
.logo span {
    color: #E5E7EB;
    font-weight: bold;
    margin-left: 4px;
}
.logo:hover{
    text-decoration: none;
}
#nav-links a, 
#nav-links a:visited {
    color: #E5E7EB !important;
    text-decoration: none;
}
#nav-links a:hover {
    color: #FF6B6B !important;
}
#nav-links {
    display: flex;
    gap: 30px; 
    margin-left: auto; 
}
.logo::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 1.2rem;
    background-color: #FF8E8E;
    margin-left: 6px;
    
    animation: cursor 1s steps(1) infinite;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}
@keyframes cursor {
    0%, 100% {
        background-color: #FF8E8E;
    }
    50% {
        background-color: transparent; 
    }
}